@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply snap-y snap-mandatory;
  }
  body {
    @apply bg-black text-white antialiased;
  }
}

.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}

.text-stroke-hover:hover {
  -webkit-text-stroke: 1px #fff;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
